html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,
dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details {
padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit; font-size:
100%; font-weight: inherit; vertical-align: baseline;
}


body{
background-color:f1f1f1;
  
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
  
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
}

h1{
position: absolute;
width: 1064px;
height: 223px;
left: 67px;
top: 35px;
line-height:-15px;


font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 98px;

color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

h1:hover{
-webkit-text-fill-color: #90bcff;
}

#studio{
position: absolute;
width: 126px;
height: 49px;
left: 1307px;
top: 150px;

font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 49px;

color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;

transform:rotate(-90deg);
}

#studio a{
  color:#90bcff;
  text-decoration: none;
}

#studio:hover{
-webkit-text-fill-color: #90bcff;
}


.hovertext {
  display: none;
}

#studio:hover + .hovertext {
 display: block;
 color: #fdb3ed;
}

/* project one */
h2{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: 71px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h2:hover{
-webkit-text-fill-color: #90bcff;
}

h3{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h3:hover{
-webkit-text-fill-color:#fdb3ed;
}

#projectpic{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of projectone */


/*start of two*/
h4{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: 71px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h4:hover{
-webkit-text-fill-color: #90bcff;
}

h5{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h5:hover{
-webkit-text-fill-color:#fdb3ed;
}

#projectpictwo{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;

}
/*end of two*/


/*start of three*/
h6{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: 71px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h6:hover{
-webkit-text-fill-color: #90bcff;
}

h7{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h7:hover{
-webkit-text-fill-color:#fdb3ed;
}

#projectpicthree{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of three*/

/*start of four*/
h8{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: 71px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h8:hover{
-webkit-text-fill-color: #90bcff;
}

h9{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h9:hover{
-webkit-text-fill-color:#fdb3ed;
}

#projectpicfour{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of fourth*/

/*labone*/
h10{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: -121px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h10:hover{
-webkit-text-fill-color: #90bcff;
}

h11{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h11:hover{
-webkit-text-fill-color:#fdb3ed;
}

#labone{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}

/*end of lab one*/

/*lab two*/
h12{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: -121px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h12:hover{
-webkit-text-fill-color: #90bcff;
}

h13{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h13:hover{
-webkit-text-fill-color:#fdb3ed;
}

#labtwo{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of labtwo*/

/*start of labthree*/
h14{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: -121px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h14:hover{
-webkit-text-fill-color: #90bcff;
}

h15{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h15:hover{
-webkit-text-fill-color:#fdb3ed;
}

#labthree{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of labthree*/

/*start of labfour*/
h16{

 color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px; 
position: absolute;
width: 289px;
height: 108px;
left: 67px;
top: -121px;
  
font-weight: 800;
font-size: 100px;
line-height: 98px;

}

h16:hover{
-webkit-text-fill-color: #90bcff;
}

h17{
position: absolute;
width: 477px;
height: 405px;
left: 1120px;
top: -20px;

font-style: normal;
font-weight: 800;
font-size: 288px;
line-height: 393px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

h17:hover{
-webkit-text-fill-color:#fdb3ed;
}

#labfour{

background-color:#f1f1f1;
position: absolute;
width: 900px;
height: 516px;
left: 67px;
top: 190px;
  
}
/*end of labfour*/

#lab{
  
position: absolute;
width: 126px;
height: 49px;
left: 1307px;
top: 350px;

font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 49px;

color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
  
transform: rotate(-90deg);
}

#lab a{
  color:#90bcff;
  text-decoration: none;
}

#lab :hover{
-webkit-text-fill-color: #90bcff;
}


#classmates a{
  color:#90bcff;
  text-decoration: none;
}

#classmates{
position: absolute;
width: 126px;
height: 49px;
left: 1307px;
top: 600px;

font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 49px;

color: #90bcff;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;

transform: rotate(-90deg);
}

#classmates :hover{
-webkit-text-fill-color: #90bcff;
}


img{
  top:175px;
}


p1{
position: absolute;
width: 34px;
height: 36px;
left: 1279px;
top: 95px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p1:hover{
-webkit-text-fill-color: #fdb3ed;
}


p2{
position: absolute;
width: 34px;
height: 36px;
left: 1245px;
top: 145px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p2:hover{
-webkit-text-fill-color: #fdb3ed;
}

p3{
position: absolute;
width: 34px;
height: 36px;
left: 1245px;
top: 203px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;

  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p3:hover{
-webkit-text-fill-color: #fdb3ed;
}

p4{
position: absolute;
width: 34px;
height: 36px;
left: 1279px;
top: 262px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p4:hover{
-webkit-text-fill-color: #fdb3ed;
}

p5{
position: absolute;
width: 34px;
height: 36px;
left: 1273px;
top: 330px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p5:hover{
-webkit-text-fill-color: #fdb3ed;
}

p6{
position: absolute;
width: 34px;
height: 36px;
left: 1239px;
top: 386px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p6:hover{
-webkit-text-fill-color: #fdb3ed;
}

p7{
position: absolute;
width: 34px;
height: 36px;
left: 1239px;
top: 448px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
  
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p7:hover{
-webkit-text-fill-color: #fdb3ed;
}

p8{
position: absolute;
width: 34px;
height: 36px;
left: 1273px;
top: 498px;

font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
color: #fdb3ed;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
}

p8:hover{
-webkit-text-fill-color: #fdb3ed;
}


/*projectone*/
p9{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*projecttwo*/
p10{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*projectthree*/
p11{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*projectfour*/
p12{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*labone*/
p13{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*labtwo*/
p14{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*labthree*/
p15{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}

/*labfour*/
p16{
position: absolute;
color: #90bcff;
width: 900px;
height: 158.13px;
left: 67.86px;
top: 746.34px;

font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 25px;
}


#one{
  list-style-type: none;
  position: absolute;
  width: 1200px;
  height: 54px;
  left: 130px;
  top: 730px;
  
}

#two{
  list-style-type: none;
  position: absolute;
  width: 1200px;
  height: 54px;
  left: 500px;
  top: 760px;
}

li {
  float: left;
  padding: 8px;
  text-decoration: none;
  color: #fdb3ed;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

li:hover{
-webkit-text-fill-color: #fdb3ed;  
}

